<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--Responsive Meta Tag for BULMA-->
    <meta name="description" content="Tout savoir sur les SAVs des marques les plus populaires ! Un problème avec votre matériel mais impossible de trouver un numéro de SAV ? C'est ici que vous le trouverez !" />
    <meta name="keywords" content="sav, informatique, matériel, ordinateur, téléphone, annuaire" />
    <title>SAV, bonjour - Les pages jaunes des SAVs !</title>
    <link rel="icon" href="public\img\favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"> <!-- BULMA CDN-->
    <link rel="stylesheet" href="/css/styles.css"> <!-- Mon stylesheet-->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> <!-- Font Awesome-->
  </head>

  <body> <!--Debut du body (fin du body dans le footer) -->

<nav class="header navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/img/logosav.png" alt="logo-sav-bonjour">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Accueil
      </a>

      <a class="navbar-item" href="/savs">
        Tous les SAVs
      </a>

      <a class="navbar-item" href="/phone">
        SAV téléphone
      </a>

      <a class="navbar-item" href="/hardware">
        SAV matériel
      </a>

      <a class="navbar-item" href="/computer">
        SAV ordinateur
      </a>
    </div>

<% if (typeof user !== 'undefined') { %>
  <% if (!user) { %>
  <div class="navbar-end">
    <a class="navbar-item" href="/login">
      Se connecter
    </a>
  
    <a class="navbar-item" href="/register">
      S'enregistrer
    </a>
  </div>
  <% } %>
  
  <% if (user) { %>
  <div class="navbar-end">
    <a class="navbar-item" href="/logout">
      Se déconnecter
    </a>
    <% } %>
  
    <% if (user && user.username === "admin") { %>
    <div class="navbar-end">
      <a class="navbar-item" href="/admin">
        Panneau Administrateur
      </a>
      <% } %>
<% } %>
  </div>
</nav>

