<%- include("partials/header"); -%>

<div class="level">
  <h1 class="title">Ajouter une image de logo</h1>
</div>

  <form action="/admin-upload" method="post" enctype="multipart/form-data" id="fdp">
      <input class="input" type="file" name="logo" accept="image/*">
      <input class="button is-primary is-outlined" type="submit" value="Ajouter" name="button" form = "fdp">

  </form>


<%- include("partials/footer"); -%>