body {
    width: 80%;
    margin: auto;
}

.footer {
  margin-top: 5rem
}

.header {
  margin-bottom: 1rem
}

h1 {
  font-size: 3vw;
}

a {
  color: hsl(171, 100%, 41%);
}

/** HOME PAGE */

  /*HERO BANNER*/
.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.hero-background.is-transparent {
  opacity: 0.3;
}

  /*SAV LIST*/

.level {
  margin: 5rem 0rem 5rem;
}

hr {
 	width: 50%;
	height: 30px;
  border-bottom: 1px solid rgb(92, 233, 191);
	box-shadow: 0 0.625rem 1.875rem -0.625rem rgb(92, 233, 191);
  margin: 0px auto 5rem; 
}


/*? COMPANY PAGE*/

.message {
  width: 70%;
  margin: 2rem auto 2rem;
}

.fa-phone-square {
  font-size: 5vw;
}

.img-logo {
  width: 20vw;
  height: 20vw;
  margin: auto;
}

.p-company {
  font-size: 2vw;
}

/*! ADMIN PAGE */

.table {
  margin: auto;
}

.addComp {
  text-align: center;
}

.searchbar {
  width: 50%;
  margin: 2rem auto 2.5rem;
}

.compName {
  display: "";
}


/**EQUAL HEIGT CARDS*/

.card-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.card-equal-height .card-footer {
  margin-top: auto;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 0.5rem;
}

.logoimg{
  border-radius: 0.5rem;
	width: 13vw;
	height: 13vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}